.texto6{
    display: -ms-inline-flexbox;
    margin-left: 10%;
    margin-right: 10%;
}

.texto3{
    margin-left: 10%;
    margin-right: 10%;
}

.textolivros{
    margin-left: 10%;
    margin-right: 10%;
}

.botao{
        background-color: #222; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10%;
}
.produtos {
	width: 1000px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #669AE4;
}

.produtos li:active {
	border-color: #FFFFFF;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 40px;
	font-weight: bold;
    color:#FFFFFF;
    font-family: 'Roboto Condensed', sans-serif;
    margin:20px;
}

.produto-descricao {
	font-size: 25px;
    color:#FFFFFF;
    font-family: 'Roboto Condensed', sans-serif;
    margin:20px;
}
.quadrinhos {
    position:relative;
	width: 940px;
	margin: 10px;
    right:10px;
    left:-70px;
}

