@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
}
body {
    text-align: center;
    background-color: #E0FFFF;
}

